<footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 footer-widget footer-about">
                    <h3 class="widget-title">About Us</h3>
                    <img class="footer-logo" src="constra/images/footer-logo.png" alt="" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut
                        labore et dolore magna aliqua.</p>
                    <div class="footer-social">
                        <ul>
                            <li><a href="https://facebook.com/themefisher"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/themefisher"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://instagram.com/themefisher"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://github.com/themefisher"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div><!-- Footer social end -->
                </div><!-- Col end -->
                <div class="col-md-4 col-sm-12 footer-widget">
                    <h3 class="widget-title">Working Hours</h3>
                    <div class="working-hours">
                        We work 7 days a week, every day excluding major holidays. Contact us if you have an emergency, with our
                        Hotline and Contact form.
                        <br><br> Monday - Friday: <span class="text-right">10:00 - 16:00 </span>
                        <br> Saturday: <span class="text-right">12:00 - 15:00</span>
                        <br> Sunday and holidays: <span class="text-right">09:00 - 12:00</span>
                    </div>
                </div><!-- Col end -->
                <div class="col-md-4 col-sm-12 footer-widget">
                    <h3 class="widget-title">Services</h3>
                    <ul class="list-arrow">
                        <li><a href="index.html">Pre-Construction</a></li>
                        <li><a href="index.html">General Contracting</a></li>
                        <li><a href="index.html">Construction Management</a></li>
                        <li><a href="index.html">Design and Build</a></li>
                        <li><a href="index.html">Self-Perform Construction</a></li>
                    </ul>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Footer main end -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="copyright-info">
                        <span>Copyright © 2019 a theme by <a href="index.html">themefisher.com</a></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="footer-menu">
                        <ul class="nav unstyled">
                            <li><a href="constra/about.html">About</a></li>
                            <li><a href="constra/team.html">Our people</a></li>
                            <li><a href="constra/faq.html">Faq</a></li>
                            <li><a href="index.html">Blog</a></li>
                            <li><a href="constra/pricing.html">Pricing</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- Row end -->
            <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
                <button class="btn btn-primary" title="Back to Top">
                    <i class="fa fa-angle-double-up"></i>
                </button>
            </div>
        </div><!-- Container end -->
    </div><!-- Copyright end -->
</footer><!-- Footer end -->
<!-- Javascript Files
================================================== -->
<!-- Signup Modals Script -->
<script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
<!-- initialize jQuery Library -->
<script type="text/javascript" src="constra/js/jquery.js"></script>
<!-- Bootstrap jQuery -->
<script type="text/javascript" src="constra/js/bootstrap.min.js"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="constra/js/owl.carousel.min.js"></script>
<!-- Color box -->
<script type="text/javascript" src="constra/js/jquery.colorbox.js"></script>
<!-- Isotope -->
<script type="text/javascript" src="constra/js/isotope.js"></script>
<script type="text/javascript" src="constra/js/ini.isotope.js"></script>
<!-- Google Map API Key-->
<script type="text/javascript" src="maps/api/js_key_aizasyccabaamnia6ol5yvyspb3pfmnrxwxnlwu_libraries_places.js"></script>
<!-- Google Map Plugin-->
<script type="text/javascript" src="constra/js/gmap3.js"></script>
<!-- Template custom -->
<script type="text/javascript" src="constra/js/custom.js"></script>
</div><!-- Body inner end -->
<center><font size="2">This is the free demo result. For a full version of this website, please go to  <a href="https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/">https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/</a></font></center></body>
</html>