<% include partials/header %>
   <div id="banner-area" class="banner-area" style="background-image:url(../constra/images/banner/banner1.jpg)">
      <div class="banner-text">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <div class="banner-heading">
                     <h1 class="banner-title">About Us</h1>
                     <ol class="breadcrumb">
                        <li>Home</li>
                        <li>Company</li>
                        <li><a href="#">About Us</a></li>
                     </ol>
                  </div>
               </div><!-- Col end -->
            </div><!-- Row end -->
         </div><!-- Container end -->
      </div><!-- Banner text end -->
   </div><!-- Banner area end --> 
   <section id="main-container" class="main-container">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <h3 class="column-title">Who We Are</h3>
               <p>TechZ academy is a revolutionized education-based Research company that offers various courses and trainings for corporations, institutions and individuals. TechZ was established in 2019 by Hariharan Vels, graduate from CEG who is very keen in revolutionizing the way of teaching for the welfare of our society. His strong passion in teaching propelled him to set up an the education based research company (TechZ) which focuses on helping people to achieve their dreams in education and in career prospects. Techz currently has 15 highly trained teaching faculties who caters customized learning courses according to each individual and company needs.</p>
               <blockquote><p>“The mediocre teacher tells. The good teacher explains. The superior teacher demonstrates. The great teacher inspires." </p></blockquote>
               <p>TechZ academy ultimate aim is to revolutionize the way of teaching and learning by re innovating classrooms. Hence our programs are specially designed to help students develop the motivation, confidence and effective learning skills to achieve their goals in life.</p>
            </div><!-- Col end -->
            <div class="col-md-6">
               <div id="page-slider" class="owl-carousel owl-theme page-slider small-bg">
                  <div class="item" style="background-image:url(../constra/images/slider-pages/slide-page1.jpg)">
                     <div class="container">
                        <div class="box-slider-content">
                           <div class="box-slider-text">
                              <h2 class="box-slide-title">Leadership</h2>
                           </div>    
                        </div>
                     </div>
                  </div><!-- Item 1 end -->
                  <div class="item" style="background-image:url(../constra/images/slider-pages/slide-page2.jpg)">
                     <div class="container">
                        <div class="box-slider-content">
                           <div class="box-slider-text">
                              <h2 class="box-slide-title">Relationships</h2>
                           </div>    
                        </div>
                     </div>
                  </div><!-- Item 1 end -->
                  <div class="item" style="background-image:url(../constra/images/slider-pages/slide-page3.jpg)">
                     <div class="container">
                        <div class="box-slider-content">
                           <div class="box-slider-text">
                              <h2 class="box-slide-title">Performance</h2>
                           </div>    
                        </div>
                     </div>
                  </div><!-- Item 1 end -->
               </div><!-- Page slider end-->          
            </div><!-- Col end -->
         </div><!-- Content row end -->
      </div><!-- Container end -->
   </section><!-- Main container end -->
   <section id="facts" class="facts-area dark-bg">
      <div class="container">
         <div class="row">
            <div class="facts-wrapper">
               <div class="col-sm-3 ts-facts">
                  <div class="ts-facts-img">
                     <img src="../constra/images/icon-image/fact1.png" alt="" />
                  </div>
                  <div class="ts-facts-content">
                     <h2 class="ts-facts-num"><span class="counterUp">120</span></h2>
                     <h3 class="ts-facts-title">Total Trainings</h3>
                  </div>
               </div><!-- Col end -->
               <div class="col-sm-3 ts-facts">
                  <div class="ts-facts-img">
                     <img src="../constra/images/icon-image/fact2.png" alt="" />
                  </div>
                  <div class="ts-facts-content">
                     <h2 class="ts-facts-num"><span class="counterUp">50</span></h2>
                     <h3 class="ts-facts-title">Staff Members</h3>
                  </div>
               </div><!-- Col end -->
               <div class="col-sm-3 ts-facts">
                  <div class="ts-facts-img">
                     <img src="../constra/images/icon-image/fact3.png" alt="" />
                  </div>
                  <div class="ts-facts-content">
                     <h2 class="ts-facts-num"><span class="counterUp">2000</span></h2>
                     <h3 class="ts-facts-title">Hours of Work</h3>
                  </div>
               </div><!-- Col end -->
               <div class="col-sm-3 ts-facts">
                  <div class="ts-facts-img">
                     <img src="../constra/images/icon-image/fact4.png" alt="" />
                  </div>
                  <div class="ts-facts-content">
                     <h2 class="ts-facts-num"><span class="counterUp">44</span></h2>
                     <h3 class="ts-facts-title">Countries Experience</h3>
                  </div>
               </div><!-- Col end -->
            </div> <!-- Facts end -->
         </div><!--/ Content row end -->
      </div><!--/ Container end -->
   </section><!-- Facts end -->
   <section id="ts-team" class="ts-team">
      <div class="container">
         <div class="row text-center">
            <h2 class="section-title">Quality Service</h2>
            <h3 class="section-sub-title">Professional Team</h3>
         </div><!--/ Title row end -->
         <div class="row">
            <div id="team-slide" class="owl-carousel owl-theme team-slide">
               <div class="item">
                  <div class="ts-team-wrapper">
                     <div class="team-img-wrapper">
                        <img alt="" src="../images/hariharan.jpg" class="img-responsive">
                     </div>
                     <div class="ts-team-content">
                        <h3 class="ts-name">Hariharan Velmurugan</h3>
                        <p class="ts-designation">Managing Director</p>
                        <p class="ts-description">Hariharan Vels, graduate from CEG who is very keen in revolutionizing the way of teaching for the welfare of our society.</p>
                        <div class="team-social-icons">
                           <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                           <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                           <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                           <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                        </div><!--/ social-icons-->
                     </div>
                  </div><!--/ Team wrapper end -->
               </div><!-- Team 1 end -->

            </div><!-- Team slide end -->
         </div><!--/ Content row end -->
      </div><!--/ Container end -->
   </section><!--/ Team end -->
   <% include partials/footer %>