<% include partials/header %>
		<!-- Carousel -->
		<div id="main-slide" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators visible-lg visible-md">
				<li data-target="#main-slide" data-slide-to="0" class="active"></li>
				<li data-target="#main-slide" data-slide-to="1"></li>
				<li data-target="#main-slide" data-slide-to="2"></li>
			</ol>
			<!--/ Indicators end-->
			<!-- Carousel inner -->
			<div class="carousel-inner">
				<div class="item active" style="background-image:url(constra/images/slider-main/bg1.jpg)">
					<div class="slider-content">
						<div class="col-md-12 text-center">
							<h2 class="slide-title animated4">1 Years of excellence in</h2>
							<h3 class="slide-sub-title animated5">IT Industry</h3>
							<!-- <p>
								<a href="index.html" class="slider btn btn-primary">Our Services</a>
								<a href="constra/contact.html" class="slider btn btn-primary border">Contact Now</a>
							</p> -->
						</div>
					</div>
				</div>
				<!--/ Carousel item 1 end -->
				<div class="item" style="background-image:url(constra/images/slider-main/bg2.jpg)">
					<div class="slider-content text-left">
						<div class="col-md-12">
							<h2 class="slide-title-box animated2">World Class Service</h2>
							<h3 class="slide-title animated3">When Service Matters</h3>
							<h3 class="slide-sub-title animated3">Your Choice is Simple</h3>
							<p class="animated3">
								<a href="index.html" class="slider btn btn-primary border">Our Services</a>
							</p>
						</div>
					</div>
				</div>
				<!--/ Carousel item 2 end -->
				<div class="item" style="background-image:url(constra/images/slider-main/bg3.jpg)">
					<div class="slider-content text-right">
						<div class="col-md-12">
							<h2 class="slide-title animated6">Meet Our Engineers</h2>
							<h3 class="slide-sub-title animated7">We believe sustainability</h3>
							<p class="slider-description lead animated7">We will deal with your failure that determines how you
								achieve success.</p>
							<p>
								<a href="constra/contact.html" class="slider btn btn-primary">Get Free Quote</a>
								<a href="constra/about.html" class="slider btn btn-primary border">Learn More</a>
							</p>
						</div>
					</div>
				</div>
				<!--/ Carousel item 3 end -->
			</div><!-- Carousel inner end-->
			<!-- Controllers -->
			<a class="left carousel-control" href="#main-slide" data-slide="prev">
				<span><i class="fa fa-angle-left"></i></span>
			</a>
			<a class="right carousel-control" href="#main-slide" data-slide="next">
				<span><i class="fa fa-angle-right"></i></span>
			</a>
		</div>
		<!--/ Carousel end -->
		<section class="call-to-action-box no-padding">
			<div class="container">
				<div class="action-style-box">
					<div class="row">
						<div class="col-md-10">
							<div class="call-to-action-text">
								<h3 class="action-title">We understand your needs on construction</h3>
							</div>
						</div><!-- Col end -->
						<div class="col-md-2">
							<div class="call-to-action-btn">
								<a class="btn btn-dark" href="#">Request Quote</a>
							</div>
						</div><!-- col end -->
					</div><!-- row end -->
				</div><!-- Action style box -->
			</div><!-- Container end -->
		</section><!-- Action end -->
		<section id="ts-features" class="ts-features">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="ts-intro">
							<h2 class="into-title">About Us</h2>
							
							<h3 class="into-sub-title">We deliver landmark projects</h3>
							<p>TechZ academy is a revolutionized education-based Research company that offers various courses and trainings for corporations, institutions and individuals. TechZ was established in 2019 by Hariharan Vels, graduate from CEG who is very keen in revolutionizing the way of teaching for the welfare of our society. </p>
						</div><!-- Intro box end -->
						<div class="gap-20"></div>
						<div class="row">
							<div class="col-md-6">
								<div class="ts-service-box">
									<span class="ts-service-icon">
										<i class="fa fa-trophy"></i>
									</span>
									<div class="ts-service-box-content">
										<h3 class="service-box-title">We've Repution for Excellence</h3>
									</div>
								</div><!-- Service 1 end -->
							</div><!-- col end -->
							<div class="col-md-6">
								<div class="ts-service-box">
									<span class="ts-service-icon">
										<i class="fa fa-sliders"></i>
									</span>
									<div class="ts-service-box-content">
										<h3 class="service-box-title">We Build Partnerships</h3>
									</div>
								</div><!-- Service 2 end -->
							</div><!-- col end -->
						</div><!-- Content row 1 end -->
						<div class="row">
							<div class="col-md-6">
								<div class="ts-service-box">
									<span class="ts-service-icon">
										<i class="fa fa-thumbs-up"></i>
									</span>
									<div class="ts-service-box-content">
										<h3 class="service-box-title">Guided by Commitment</h3>
									</div>
								</div><!-- Service 1 end -->
							</div><!-- col end -->
							<div class="col-md-6">
								<div class="ts-service-box">
									<span class="ts-service-icon">
										<i class="fa fa-users"></i>
									</span>
									<div class="ts-service-box-content">
										<h3 class="service-box-title">A Team of Professionals</h3>
									</div>
								</div><!-- Service 2 end -->
							</div><!-- col end -->
						</div><!-- Content row 1 end -->
					</div><!-- Col end -->
					<div class="col-md-6 col-xs-12">
						<h3 class="into-sub-title">Our Values</h3>
						<p>TechZ academy ultimate aim is to revolutionize the way of teaching and learning by re innovating classrooms.</p>
						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Safety</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
											wolf moon officia aute, non cupidata</p>
									</div>
								</div>
							</div>
							<!--/ Panel 1 end-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo"> Customer
											Service</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
											wolf moon officia aute, non cupidata</p>
									</div>
								</div>
							</div>
							<!--/ Panel 2 end-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">
											Integrity</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
										<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
											wolf moon officia aute, non cupidata</p>
									</div>
								</div>
							</div>
							<!--/ Panel 3 end-->
						</div>
						<!--/ Accordion end -->
					</div><!-- Col end -->
				</div><!-- Row end -->
			</div><!-- Container end -->
		</section><!-- Feature are end -->
		<section id="facts" class="facts-area dark-bg">
			<div class="container">
				<div class="row">
					<div class="facts-wrapper">
						<div class="col-sm-3 ts-facts">
							<div class="ts-facts-img">
								<img src="constra/images/icon-image/fact1.png" alt="" />
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp" data-count="120">0</span></h2>
								<h3 class="ts-facts-title">Total Trainings</h3>
							</div>
						</div><!-- Col end -->
						<div class="col-sm-3 ts-facts">
							<div class="ts-facts-img">
								<img src="constra/images/icon-image/fact2.png" alt="" />
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp" data-count="50">0</span></h2>
								<h3 class="ts-facts-title">Staff Members</h3>
							</div>
						</div><!-- Col end -->
						<div class="col-sm-3 ts-facts">
							<div class="ts-facts-img">
								<img src="constra/images/icon-image/fact3.png" alt="" />
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp" data-count="2000">0</span></h2>
								<h3 class="ts-facts-title">Hours of Work</h3>
							</div>
						</div><!-- Col end -->
						<div class="col-sm-3 ts-facts">
							<div class="ts-facts-img">
								<img src="constra/images/icon-image/fact4.png" alt="" />
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp" data-count="44">0</span></h2>
								<h3 class="ts-facts-title">Countries Experience</h3>
							</div>
						</div><!-- Col end -->
					</div> <!-- Facts end -->
				</div>
				<!--/ Content row end -->
			</div>
			<!--/ Container end -->
		</section><!-- Facts end -->
		<section id="ts-service-area" class="ts-service-area">
			<div class="container">
				<div class="row text-center">
					<h2 class="section-title">We Are Specialists In</h2>
					<h3 class="section-sub-title">What We Do</h3>
				</div>
				<!--/ Title row end -->
				<div class="row">
					<div class="col-md-4">
						<div class="ts-service-box">
							<div class="ts-service-box-img pull-left">
								<img src="constra/images/icon-image/service-icon1.png" alt="" />
							</div>
							<div class="ts-service-box-info">
								<h3 class="service-box-title"><a href="#">Professional Courses</a></h3>
								<p>We provide online and live professional courses in a wide range of disciplines to a worldwide student body</p>
							</div>
						</div><!-- Service 1 end -->
						<div class="ts-service-box">
							<div class="ts-service-box-img pull-left">
								<img src="constra/images/icon-image/service-icon2.png" alt="" />
							</div>
							<div class="ts-service-box-info">
								<h3 class="service-box-title"><a href="#">Corporate Training</a></h3>
								<p>We provide customized training which will improve and enhance the performance of the employees and in return lead to an increase in professional development</p>
							</div>
						</div><!-- Service 2 end -->
						<div class="ts-service-box">
							<div class="ts-service-box-img pull-left">
								<img src="constra/images/icon-image/service-icon3.png" alt="" />
							</div>
							<div class="ts-service-box-info">
								<h3 class="service-box-title"><a href="#">CCNA Training</a></h3>
								<p>This course offers an easy to understand, structured approach to shortcut your path to mastering Cisco networking to the CCNA level and beyond which will also help you to ace the CCNA exams.</p>
							</div>
						</div><!-- Service 3 end -->
					</div><!-- Col end -->
					<div class="col-md-4 text-center">
						<img class="service-center-img img-responsive" src="constra/images/services/service-center.jpg" alt="" />
					</div><!-- Col end -->
					<div class="col-md-4">
						<div class="ts-service-box">
							<div class="ts-service-box-img pull-left">
								<img src="constra/images/icon-image/service-icon4.png" alt="" />
							</div>
							<div class="ts-service-box-info">
								<h3 class="service-box-title"><a href="#">Career Guidance</a></h3>
								<p>The main objective of career guidance is to develop positive attitudes in students towards study and also to help them to plan and take control of their future by making informed choices at key points in their education and career</p>
							</div>
						</div><!-- Service 4 end -->
						<div class="ts-service-box">
							<div class="ts-service-box-img pull-left">
								<img src="constra/images/icon-image/service-icon5.png" alt="" />
							</div>
							<div class="ts-service-box-info">
								<h3 class="service-box-title"><a href="#">Coaching - School Studies and Engineering Subjects</a></h3>
								<p>We provided individual and group classes for all the school and engineering subjects according to the framed syllabus by the students institution</p>
							</div>
						</div><!-- Service 5 end -->
						<div class="ts-service-box">
							<div class="ts-service-box-img pull-left">
								<img src="constra/images/icon-image/service-icon6.png" alt="" />
							</div>
							<div class="ts-service-box-info">
								<h3 class="service-box-title"><a href="#">Research on Education</a></h3>
								<p>We are currently conducting research on education in which we evaluate different aspects of education student learning, teaching methods,staff training and classroom dynamics.our main objective is to advance the education system for the welfare of our society</p>
							</div>
						</div><!-- Service 6 end -->
					</div><!-- Col end -->
				</div><!-- Content row end -->
			</div>
			<!--/ Container end -->
		</section><!-- Service end -->
		<section id="project-area" class="project-area solid-bg">
			<!-- <section id="main-container" class="main-container"> -->
				<div class="container">
					<div class="row text-center">
						<h2 class="section-title">Work of Excellence</h2>
						<h3 class="section-sub-title">Recent Projects</h3>
					</div>
				   <div class="row">
					  <div class="col-md-12">
						 <div class="isotope-nav" data-isotope-nav="isotope">
							<ul>
							   <li><a href="#" class="active" data-filter="*">Show All</a></li>
							   <li><a href="#" data-filter=".datascience">Data Science</a></li>
							   <li><a href="#" data-filter=".networking">Networking</a></li>
							   <li><a href="#" data-filter=".management">Management</a></li>
							   <li><a href="#" data-filter=".applications">Applications</a></li>
							   <li><a href="#" data-filter=".schoollevel">School Level</a></li>
							</ul>
						 </div><!-- Isotope filter end -->
					  </div><!-- Filter col end -->
				   </div><!-- Filter row end -->
				   <div id="isotope" class="isotope">
		  
					  <!-- Data-Science    -->
					  <div class="col-md-4 col-sm-6 col-xs-12 datascience isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/image_processing.jpeg">
								  <img class="img-responsive"  src="../images/courses/image_processing.jpeg" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/imageProcessing">Image Processing</a>
									 </h3>
		  
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 datascience isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/deeplearning.jpg">
								  <img class="img-responsive"  src="../images/courses/deeplearning.jpg" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/deeplearning">Deeplearning</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 datascience isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="">
								  <img class="img-responsive" src="" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/supervisedlearning">Supervised Learning</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 datascience isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/reinforcementlearning.png">
								  <img class="img-responsive" src="../images/courses/reinforcementlearning.png" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/reinforcementlearning">Reinforcement Learning</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 residential isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../constra/images/projects/project6.jpg">
								  <img class="img-responsive" src="../constra/images/projects/project6.jpg" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="../constra/projects-single.html">Ancraft Avenue House</a>
									 </h3>
									 <p class="project-cat">Residential</p>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <!-- Networking -->
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 networking isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/networking.png">
								  <img class="img-responsive" src="../images/courses/networking.png" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/hardwareandnetworking">Hardware and Networking</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 networking isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/ccna_training.png">
								  <img class="img-responsive" src="../images/courses/ccna_training.png" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/ccnatraining">CCNA - Training</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 networking isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/wireless.jpg">
								  <img class="img-responsive" src="../images/courses/wireless.jpg" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/wirelessnetwork">Wireless Network</a>
									 </h3>
									 <p class="project-cat">Residential</p>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <!-- Management -->
						 <div class="col-md-4 col-sm-6 col-xs-12 management isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/hr_management.jpg">
								  <img class="img-responsive" src="../images/courses/hr_management.jpg" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/humanresourcemanagement">Human Resource Management</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 management isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="">
								  <img class="img-responsive" src="" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="#">Event Management</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 management isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/entreprenuershipdevelopment.jpeg">
								  <img class="img-responsive" src="../images/courses/entreprenuershipdevelopment.jpeg" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/entrepreneurshipmanagement">Entrepreneurship Management</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <!-- Applications -->
						 <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/mobile_application.jpg">
								  <img class="img-responsive" src="../images/courses/mobile_application.jpg" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/mobileapplication">Mobile Application</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/website.jpg">
								  <img class="img-responsive" src="../images/courses/website.jpg" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/webapplication">Web Application</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/web develop.jpeg">
								  <img class="img-responsive" src="../images/courses/web develop.jpeg" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/webdevelopment">Web Development</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/full_stack.jpeg">
								  <img class="img-responsive" src="../images/courses/full_stack.jpeg" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/fullstackdevelopment">Fullstack Development</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/django.png">
								  <img class="img-responsive" src="../images/courses/django.png" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/djangoandflask">Django & Flask</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/spring.png">
								  <img class="img-responsive" src="../images/courses/spring.png" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/spring">Spring</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="../images/courses/angular.png">
								  <img class="img-responsive" src="../images/courses/angular.png" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/angular">Angular</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <!-- School Level -->
						 <div class="col-md-4 col-sm-6 col-xs-12 schoollevel isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="#">
								  <img class="img-responsive" src="" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="#">+2 Chemistry/a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="#">
								  <img class="img-responsive" src="" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="/angular">+2 Maths</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="#">
								  <img class="img-responsive" src="" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="#">10th Chemistry</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
						 <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
							<div class="isotope-img-container">
							   <a class="gallery-popup" href="#">
								  <img class="img-responsive" src="" alt="">
								  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
							   </a>
							   <div class="project-item-info">
								  <div class="project-item-info-content">
									 <h3 class="project-item-title">
									 <a href="#">10th Maths</a>
									 </h3>
								  </div>
							   </div>
							</div>
						 </div>
		  
					  </div>
				</div><!-- Conatiner end -->
		</section><!-- Project area end -->
		<section class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h3 class="column-title">Testimonials</h3>
						<div id="testimonial-slide" class="owl-carousel owl-theme testimonial-slide">
							<div class="item">
								<div class="quote-item">
									<span class="quote-text">
										Question ran over her cheek When she reached the first hills of the Italic Mountains, she had a last
										view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the
										subline of her own road.
									</span>
									<div class="quote-item-footer">
										<img class="testimonial-thumb" src="constra/images/clients/testimonial1.png" alt="testimonial">
										<div class="quote-item-info">
											<h3 class="quote-author">Gabriel Denis</h3>
											<span class="quote-subtext">Chairman, OKT</span>
										</div>
									</div>
								</div><!-- Quote item end -->
							</div>
							<!--/ Item 1 end -->
							<div class="item">
								<div class="quote-item">
									<span class="quote-text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut
										labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris
										nisi aliquip consequat.
									</span>
									<div class="quote-item-footer">
										<img class="testimonial-thumb" src="constra/images/clients/testimonial2.png" alt="testimonial">
										<div class="quote-item-info">
											<h3 class="quote-author">Weldon Cash</h3>
											<span class="quote-subtext">CFO, First Choice</span>
										</div>
									</div>
								</div><!-- Quote item end -->
							</div>
							<!--/ Item 2 end -->
							<div class="item">
								<div class="quote-item">
									<span class="quote-text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut
										labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris
										nisi ut commodo consequat.
									</span>
									<div class="quote-item-footer">
										<img class="testimonial-thumb" src="constra/images/clients/testimonial3.png" alt="testimonial">
										<div class="quote-item-info">
											<h3 class="quote-author">Minter Puchan</h3>
											<span class="quote-subtext">Director, AKT</span>
										</div>
									</div>
								</div><!-- Quote item end -->
							</div>
							<!--/ Item 3 end -->
						</div>
						<!--/ Testimonial carousel end-->
					</div><!-- Col end -->
					<div class="col-md-6">
						<h3 class="column-title">Happy Clients</h3>
						<div class="row all-clients">
							<div class="col-sm-4">
								<figure class="clients-logo">
									<a href="#"><img class="img-responsive" src="constra/images/clients/client1.png" alt="" /></a>
								</figure>
							</div><!-- Client 1 end -->
							<div class="col-sm-4">
								<figure class="clients-logo">
									<a href="#"><img class="img-responsive" src="constra/images/clients/client2.png" alt="" /></a>
								</figure>
							</div><!-- Client 2 end -->
							<div class="col-sm-4">
								<figure class="clients-logo">
									<a href="#"><img class="img-responsive" src="constra/images/clients/client3.png" alt="" /></a>
								</figure>
							</div><!-- Client 3 end -->
							<div class="col-sm-4">
								<figure class="clients-logo">
									<a href="#"><img class="img-responsive" src="constra/images/clients/client4.png" alt="" /></a>
								</figure>
							</div><!-- Client 4 end -->
							<div class="col-sm-4">
								<figure class="clients-logo">
									<a href="#"><img class="img-responsive" src="constra/images/clients/client5.png" alt="" /></a>
								</figure>
							</div><!-- Client 5 end -->
							<div class="col-sm-4">
								<figure class="clients-logo">
									<a href="#"><img class="img-responsive" src="constra/images/clients/client6.png" alt="" /></a>
								</figure>
							</div><!-- Client 6 end -->
						</div><!-- Clients row end -->
					</div><!-- Col end -->
				</div>
				<!--/ Content row end -->
			</div>
			<!--/ Container end -->
		</section><!-- Content end -->
		<section class="subscribe no-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="subscribe-call-to-acton">
							<h3>Can We Help?</h3>
							<h4>(+9) 847-291-4353</h4>
						</div>
					</div><!-- Col end -->
					<div class="col-md-8 col-sm-12 col-xs-12">
						<div class="ts-newsletter">
							<div class="newsletter-introtext">
								<h4>Newsletter Sign-up</h4>
								<p>Latest updates and news</p>
							</div>
							<div class="newsletter-form">
								<form action="#" method="post">
									<div class="form-group">
										<input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg"
											placeholder="Your Email Here" autocomplete="off">
									</div>
								</form>
							</div>
						</div><!-- Newsletter end -->
					</div><!-- Col end -->
				</div><!-- Content row end -->
			</div>
			<!--/ Container end -->
		</section>
		<!--/ News end -->
		
		<!--/ News end -->

		<% include partials/footer %>	
	