<% include partials/header %>
<div id="banner-area" class="banner-area" style="background-image:url(../constra/images/banner/banner1.jpg)">
      <div class="banner-text">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <div class="banner-heading">
                     <h1 class="banner-title">Our Team</h1>
                     <ol class="breadcrumb">
                        <li>Home</li>
                        <li>Company</li>
                        <li><a href="#">Our Team</a></li>
                     </ol>
                  </div>
               </div><!-- Col end -->
            </div><!-- Row end -->
         </div><!-- Container end -->
      </div><!-- Banner text end -->
   </div><!-- Banner area end --> 
   <section id="main-container" class="main-container">
      <div class="container">
         <div class="row text-center">
            <h3 class="section-sub-title">Our Leaderships</h3>
         </div><!--/ Title row end -->
         <div class="row">
            <div class="col-md-4">
            </div><!-- Col end -->
            <div class="col-md-6">
               <div class="ts-team-wrapper">
                  <div class="team-img-wrapper">
                     <img alt="" src="../images/hariharan.jpg" class="img-responsive">
                  </div>
                  <div class="ts-team-content-classic">
                     <h3 class="ts-name">Hariharan Velmurugan</h3>
                     <p class="ts-designation">Managing Director</p>
                     <p class="ts-description">Hariharan Vels, graduate from CEG who is very keen in revolutionizing the way of teaching for the welfare of our society.</p>
                     <div class="team-social-icons">
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                     </div><!--/ social-icons-->
                  </div>
               </div><!--/ Team wrapper 1 end -->
            </div><!-- Col end -->
            
            <div class="col-md-3">
            </div><!-- Col end -->
         </div><!-- Content row 1 end -->
        
         </div><!-- Content row end -->
      </div><!-- Container end -->
   </section><!-- Main container end -->
   <% include partials/footer %>