<% include partials/header %>
   <div id="banner-area" class="banner-area" style="background-image:url(../constra/images/banner/banner2.jpg)">
      <div class="banner-text">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <div class="banner-heading">
                     <h1 class="banner-title">Projects</h1>
                     <ol class="breadcrumb">
                        <li>Home</li>
                        <li>Projects</li>
                        <li><a href="#">Projects All</a></li>
                     </ol>
                  </div>
               </div><!-- Col end -->
            </div><!-- Row end -->
         </div><!-- Container end -->
      </div><!-- Banner text end -->
   </div><!-- Banner area end --> 
   <section id="main-container" class="main-container">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="isotope-nav" data-isotope-nav="isotope">
                  <ul>
                     <li><a href="#" class="active" data-filter="*">Show All</a></li>
                     <li><a href="#" data-filter=".datascience">Data Science</a></li>
                     <li><a href="#" data-filter=".networking">Networking</a></li>
                     <li><a href="#" data-filter=".management">Management</a></li>
                     <li><a href="#" data-filter=".applications">Applications</a></li>
                     <li><a href="#" data-filter=".schoollevel">School Level</a></li>
                  </ul>
               </div><!-- Isotope filter end -->
            </div><!-- Filter col end -->
         </div><!-- Filter row end -->
         <div id="isotope" class="isotope">

            <!-- Data-Science    -->
            <div class="col-md-4 col-sm-6 col-xs-12 datascience isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/image_processing.jpeg">
                        <img class="img-responsive"  src="../images/courses/image_processing.jpeg" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/imageProcessing">Image Processing</a>
                           </h3>

                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 datascience isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/deeplearning.jpg">
                        <img class="img-responsive"  src="../images/courses/deeplearning.jpg" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/deeplearning">Deeplearning</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 datascience isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="">
                        <img class="img-responsive" src="" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/supervisedlearning">Supervised Learning</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 datascience isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/reinforcementlearning.png">
                        <img class="img-responsive" src="../images/courses/reinforcementlearning.png" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/reinforcementlearning">Reinforcement Learning</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 residential isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../constra/images/projects/project6.jpg">
                        <img class="img-responsive" src="../constra/images/projects/project6.jpg" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="../constra/projects-single.html">Ancraft Avenue House</a>
                           </h3>
                           <p class="project-cat">Residential</p>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- Networking -->

               <div class="col-md-4 col-sm-6 col-xs-12 networking isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/networking.png">
                        <img class="img-responsive" src="../images/courses/networking.png" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/hardwareandnetworking">Hardware and Networking</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 networking isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/ccna_training.png">
                        <img class="img-responsive" src="../images/courses/ccna_training.png" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/ccnatraining">CCNA - Training</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 networking isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/wireless.jpg">
                        <img class="img-responsive" src="../images/courses/wireless.jpg" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/wirelessnetwork">Wireless Network</a>
                           </h3>
                           <p class="project-cat">Residential</p>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- Management -->
               <div class="col-md-4 col-sm-6 col-xs-12 management isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/hr_management.jpg">
                        <img class="img-responsive" src="../images/courses/hr_management.jpg" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/humanresourcemanagement">Human Resource Management</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 management isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="">
                        <img class="img-responsive" src="" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="#">Event Management</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 management isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/entreprenuershipdevelopment.jpeg">
                        <img class="img-responsive" src="../images/courses/entreprenuershipdevelopment.jpeg" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/entrepreneurshipmanagement">Entrepreneurship Management</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- Applications -->
               <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/mobile_application.jpg">
                        <img class="img-responsive" src="../images/courses/mobile_application.jpg" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/mobileapplication">Mobile Application</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/website.jpg">
                        <img class="img-responsive" src="../images/courses/website.jpg" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/webapplication">Web Application</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/web develop.jpeg">
                        <img class="img-responsive" src="../images/courses/web develop.jpeg" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/webdevelopment">Web Development</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/full_stack.jpeg">
                        <img class="img-responsive" src="../images/courses/full_stack.jpeg" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/fullstackdevelopment">Fullstack Development</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/django.png">
                        <img class="img-responsive" src="../images/courses/django.png" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/djangoandflask">Django & Flask</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/spring.png">
                        <img class="img-responsive" src="../images/courses/spring.png" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/spring">Spring</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="../images/courses/angular.png">
                        <img class="img-responsive" src="../images/courses/angular.png" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/angular">Angular</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- School Level -->
               <div class="col-md-4 col-sm-6 col-xs-12 schoollevel isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="#">
                        <img class="img-responsive" src="" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="#">+2 Chemistry/a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="#">
                        <img class="img-responsive" src="" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="/angular">+2 Maths</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="#">
                        <img class="img-responsive" src="" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="#">10th Chemistry</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12 applications isotope-item">
                  <div class="isotope-img-container">
                     <a class="gallery-popup" href="#">
                        <img class="img-responsive" src="" alt="">
                        <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                     </a>
                     <div class="project-item-info">
                        <div class="project-item-info-content">
                           <h3 class="project-item-title">
                           <a href="#">10th Maths</a>
                           </h3>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
      </div><!-- Conatiner end -->
   </section><!-- Main container end -->
   <% include partials/footer %>